.Schedule
  > .day
    > .agent_sched
      height = 20px
      line-height 10px
      font-size 14px
      padding 4px 10px 4px 0
      width 100%

      tr:first-child
        .appointments
          border-top 1px dotted #444


      .agent_id
        margin 0
        width 50px
        text-align center
        padding-bottom 4px

      .appointments
        border-bottom 1px dotted #444
        height height
        position relative
        padding 10px 0 10px 0

        > .appt
          top 5px
          bottom 5px
          background-color #252
          position absolute
          border-radius 3px
